<!DOCTYPE html>
<html>
<head>
  <title>JsDemoR5Sqlite</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="header">
  <h1>Inventory Manager</h1>
  <%= link_to "Dashboard", root_path %>
  <%= link_to "Sales Items",sales_items_path %>
  <%= link_to "Categories", categories_path %>
</div>
<%= yield %>

</body>
</html>
